*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track
{
  
  background-color: transparent;
}

::-webkit-scrollbar{
   width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb
{
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, #ff4d4d 0%, rgba(255, 37, 102, 0.8) 100%,
                        transparent)
}